*{/*Reset browser positioning*/
	margin:0px;
	padding:0px;
}

nav{
	padding-top:17px;	
	padding-bottom:10px;	
	background:auto;
	float:right;
}
#brand{
	padding-top:5px;
	font-size:25px;
	float:left;
	margin-left:50px;
}
#brand a{
	color:#0E547D;
	text-decoration:none;
}
#brand a:hover{
	color:#ffffff; /*Turn white when pointer is on it*/
	text-decoration:none;
}
nav li{
	margin-right: 100px;
	display:inline;
	list-style:none;
	font-size:20px;
}
a{
	text-decoration:none;
}
nav a:hover{
	color:#86E0FC;
}
#top_section{
	height:60px;
	color:#0E547D;
	background-color:#222222; /*GREY*/
}
#profile_section{
	text-align:center;
	background-color:#474E5D; /*LIGHT GREY*/
	padding:50px;
}
.section_title{
	text-decoration:underline;
}
#resume_section{
	text-align:center;
	background-color:#FFFFFF; /*WHITE*/
	padding:50px;
}
#contacts_section{
	text-align:center;
	background-color:#2F2F2F;
	padding-top:50px;
}
#contacts_section a:hover{
	color:blue;
}
#facebook_section{
	float:left;
	background-color:#2F2F2F;
	width:340px;
	height:300px;
}
#email_section{
	color:#FFFFFF;
	float:left;
	background-color:#2F2F2F;
	width:auto;
	height:300px;
}
#twitter_section{
	float:right;
	background-color: #2F2F2F;
	width:340px;
	height:300px;
}
.education{
	text-align:left;
	margin:50px;
}
table th, td{
	padding:10px;
}
.experience{
	text-align:left;
	margin:50px;
}
footer{
	clear:both;
	text-align: center;
	padding:50px;
}