*{
margin:0px;
padding:0px;
}
p{
	color:red;
}
nav{
padding-top:17px;	
padding-bottom:10px;	
	background:auto;
	float:right;
}
#brand{
padding-top:5px;
font-size:25px;
float:left;
margin-left:50px;
}
nav li{
	margin-right: 100px;
	display:inline;
	list-style:none;
	font-size:20px;
}
nav a{
	text-decoration:none;
}
nav a:hover{
	
}
#top_section{
height:60px;
color:#0E547D;
background-color:#222222; /*GREY*/
}
#profile_section{
text-align:center;
background-color:#474E5D; /*LIGHT GREY*/
padding:50px;
}
.section_title{
text-decoration:underline;
}
#resume_section{
text-align:center;
background-color:#FFFFFF; /*WHITE*/
padding:50px;
}
#contacts_section{
text-align:center;
background-color:#2F2F2F;
padding-top:50px;
}
#facebook_section{
float:left;
background-color:#2F2F2F;
width:340px;
height:300px;
}
#email_section{
float:left;
background-color:#2F2F2F;
width:auto;
height:300px;

}
#twitter_section{
float:right;
background-color: #2F2F2F;
width:340px;
height:300px;
}
.education{
text-align:left;
margin:50px;
}
table th, td{
padding:10px;
}
.experience{
text-align:left;
margin:50px;
}
footer{
clear:both;
text-align: center;
padding:50px;
}